@import '../src/assets/scss/shared.scss';

.about-me {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;

	.about-me-cont {
		padding-top: 50px;
		padding-bottom: 30px;
	}

	img {
		padding-top: 20px;
		padding-bottom: 20px;
		width: 250px;
		border-radius: 50%;
	}

  .title-left {
    margin-top: 10px;
    font-size: 16px;
  }

	.resume-btn {
		width: 100%;
		padding-top: 13px;
		padding-bottom: 13px;

		color: $white;

		background-color: $primary-color;
		border: none;
		border-radius: 20px;
	}

	@media screen and (min-width: 768px) {
		padding-top: 40px;
		padding-bottom: 40px;
		text-align: center;

		img {
			width: 100%;
		}

		.title-left {
      margin-top: 10px;
      font-size: 16px;
		}

		.title-left,
		.secondary-title,
		.body-text {
			text-align: left !important;
		}

		.resume-btn {
			padding: 10px;
			width: 200px;
		}
	}
}
