@import '../../assets/scss/shared.scss';

.header {
	background: linear-gradient(150deg, $primary-color, $secondary-color);

	.mobile-view {
		padding-top: 10px;
		padding-bottom: 10px;

		.menu {
			text-align: left;

      .btn {
        transition: all 300ms ease;

        &:hover {
          opacity: 0.8;
        }
      }

			.fas {
				margin-top: 4px;
				color: $white;
			}
		}

		.logo {
			text-align: center;

			img {
				width: 100px;
			}
		}

		.email {
			text-align: right;

      .btn {
        transition: all 300ms ease;

        &:hover {
          opacity: 0.8;
        }
      }

			.far {
				margin-top: 4px;
				color: $white;
			}
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
	}

	.desktop-view {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;

      .logo {
        img {
          width: 150px;
        }
      }

      .nav-links {
        ul {
          padding-left: 0;
          margin-top: 16px;
          margin-bottom: 0;
          list-style-type: none;

          text-align: right;

          li {
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;

            a {
              color: $white;
              font-size: 15px;
              font-family: $open-sans;
              font-weight: $font-weight-regular;
              letter-spacing: 0.08em;
              text-decoration: none;

              transition: all 300ms ease;

              &:hover {
                cursor: pointer;
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
	}
}
