@import '../src/assets/scss/shared.scss';

.footer {
	padding: 20px 0;

	.nav-links {
		list-style-type: none;

		padding-left: 0;
		margin-bottom: 16px;

		text-align: center;

		li {
			display: inline-flex;

			margin: 0 6px;

			a {
        color: $primary-color;
        font-family: $lato;
        font-weight: $font-weight-bold;
        text-decoration: none;
        letter-spacing: 0.3px;

        &:hover {
          opacity: 0.8;
        }
			}
		}
	}

	.social-links {
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 16px;
		text-align: center;

		li {
			display: inline-flex;
      margin: 0 6px;

      a {
        color: $primary-color;
        font-size: 14px;
        font-family:$open-sans;
        font-weight: $font-weight-bold;
        text-decoration: none;
        letter-spacing: 0.3px;

        &:hover {
          opacity: 0.8;
        }
      }
		}
	}

	.copyrights {
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 16px;
		text-align: center;

		li {
			display: inline-flex;
      margin: 0 6px;

      a {
        color: $primary-color;
        font-size: 14px;
        font-family:$open-sans;
        font-weight: $font-weight-bold;
        text-decoration: none;
        letter-spacing: 0.3px;

        &:hover {
          opacity: 0.8;
        }
      }
		}
	}
}
