.m-l-r-0 {
  margin-left: 0;
  margin-right: 0; }

.title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 1.8em;
  color: #0080ff; }

.secondary-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #0080ff; }

.body-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.8;
  color: #3f3a3a; }

.hidden {
  display: none; }

img {
  width: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #0080ff; }

@media screen and (min-width: 768px) {
  .show-mobile-only {
    display: none !important; } }

.show-medium {
  display: none; }
  @media screen and (min-width: 768px) {
    .show-medium {
      display: initial; } }

.about-us {
  padding-top: 40px;
  padding-bottom: 40px; }
  .about-us .title {
    text-align: center; }
  .about-us .body-text {
    text-align: center; }

.features .title {
  text-align: center; }

.technologies .title {
  text-align: center; }

.about-me .title,
.about-me .secondary-title,
.about-me .body-text {
  text-align: center; }

.available-on {
  padding: 30px 0;
  background: linear-gradient(150deg, #0080ff, #3cc0fa); }
  .available-on .secondary-title {
    text-align: center;
    color: #ffffff; }

.technologies {
  padding-top: 20px;
  padding-bottom: 20px; }
  @media screen and (min-width: 992px) {
    .technologies .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; } }

.available-on .available-on-links {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none; }
  .available-on .available-on-links li {
    padding-top: 10px;
    padding-bottom: 10px; }
    .available-on .available-on-links li a img {
      width: 100%; }

@media screen and (min-width: 768px) {
  .available-on {
    padding-top: 50px;
    padding-bottom: 50px; }
    .available-on .available-on-links {
      text-align: center; }
      .available-on .available-on-links li {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px; }
        .available-on .available-on-links li a img {
          width: 180px; } }

.close-btn {
  padding: 0;
  background-color: transparent;
  transition: all 300ms ease; }
  .close-btn:hover {
    opacity: 0.5; }
  .close-btn .far {
    color: #ffffff; }

.sideMenu {
  position: fixed;
  z-index: 0; }
  .sideMenu.is-active {
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .sideMenu .sideMenu-content {
    height: 100vh;
    width: 100%;
    padding: 16px;
    background-color: #0080ff;
    transform: translateX(-300px);
    transition: all 300ms ease; }
    .sideMenu .sideMenu-content.is-active {
      transform: translateX(0); }
    .sideMenu .sideMenu-content .logo {
      width: 150px; }
    .sideMenu .sideMenu-content .close-btn {
      margin-top: 10px; }
  .sideMenu .sideMenu-links {
    list-style: none;
    padding-left: 15px;
    margin-bottom: 0; }
    .sideMenu .sideMenu-links .sideMenu-link {
      padding: 8px 0; }
      .sideMenu .sideMenu-links .sideMenu-link:first-child {
        padding-top: 30px; }
      .sideMenu .sideMenu-links .sideMenu-link a {
        color: #ffffff;
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        letter-spacing: 0.08em;
        transition: all 300ms ease; }
        .sideMenu .sideMenu-links .sideMenu-link a:hover {
          cursor: pointer;
          opacity: 0.5; }
  @media screen and (min-width: 480px) {
    .sideMenu .sideMenu-content {
      width: 300px; } }
  @media screen and (min-width: 768px) {
    .sideMenu {
      display: none; } }
