@import '../src/assets/scss/shared.scss';

.hidden {
	display: none;
}

img {
	width: 100%;
}

body {
	font-family: $open-sans;
	font-size: $default-font-size;
	color: $primary-color;
}

.show-mobile-only {
	@media screen and (min-width: 768px) {
		display: none !important;
	}
}

.show-medium {
	display: none;

	@media screen and (min-width: 768px) {
		display: initial;
	}
}

.about-us {
	padding-top: 40px;
	padding-bottom: 40px;

	.title {
		text-align: center;
	}

	.body-text {
		text-align: center;
	}
}

.features {
	.title {
		text-align: center;
	}
}

.technologies {
	.title {
		text-align: center;
	}
}

.about-me {
	.title,
	.secondary-title,
	.body-text {
		text-align: center;
	}
}

.available-on {
	padding: 30px 0;
	background: linear-gradient(150deg, $primary-color, $secondary-color);

	.secondary-title {
		text-align: center;
		color: $white;
	}
}

.technologies {
	padding-top: 20px;
	padding-bottom: 20px;

	@media screen and (min-width: 992px) {
		.row {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
	}
}

.available-on {
	.available-on-links {
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;

		li {
			padding-top: 10px;
			padding-bottom: 10px;

			a {
				img {
					width: 100%;
				}
			}
		}
	}

	@media screen and (min-width: 768px) {
		padding-top: 50px;
		padding-bottom: 50px;

		.available-on-links {
			text-align: center;

			li {
				display: inline-block;
				padding-left: 10px;
				padding-right: 10px;

				a {
					img {
						width: 180px;
					}
				}
			}
		}
	}
}

.close-btn {
  padding: 0;
  background-color: transparent;
  transition: all 300ms ease;

  &:hover {
    opacity: 0.5;
  }

  .far {
    color: $white;
  }
}

.sideMenu {
  position: fixed;
  z-index: 0;

  &.is-active {
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
  }

  .sideMenu-content {
    height: 100vh;
    width: 100%;
    padding: 16px;

    background-color: $primary-color;

    transform: translateX(-300px);
    transition: all 300ms ease;

    &.is-active {
      transform: translateX(0);
    }

    .logo {
      width: 150px;
    }

    .close-btn {
      margin-top: 10px;
    }
  }

  .sideMenu-links {
    list-style: none;
    padding-left: 15px;
    margin-bottom: 0;

    .sideMenu-link {
      padding: 8px 0;

      &:first-child {
        padding-top: 30px;
      }

      a {
        color: $white;
        font-size: 15px;
        font-family: $open-sans;
        font-weight: $font-weight-regular;
        letter-spacing: 0.08em;

        transition: all 300ms ease;

        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }
  }

  @media screen and (min-width: 480px) {

    .sideMenu-content {
      width: 300px;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
